<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= meal.name %></title>
</head>
<body>
    <h1><%= meal.name %></h1>

    <p><strong>Type:</strong><%= meal.type %></p>
    <p><strong>Calories:</strong><%= meal.calories %> kcal</p>

    <p>
        <a href="/meals/<%= meal._id %>/edit">Edit</a>
        <form action="/meals/<%= meal._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </p>

    <p><a href="/meals">Delete</a></p>
</body>
</html>